<div class="card mb-3">
  <h2 class="card-header h4">
    Usersbest #<%= usersbest.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Dishes</dt>
      <dd>
        <% if @usersbest.dishes.present? %>
          <%= link_to usersbest.dishes, usersbest.dishes %>
        <% end %>
      </dd>

      <dt>Venue</dt>
      <dd>
        <% if @usersbest.venue.present? %>
          <%= link_to usersbest.venue, usersbest.venue %>
        <% end %>
      </dd>

      <dt>Users</dt>
      <dd>
        <% if @usersbest.users.present? %>
          <%= link_to usersbest.users, usersbest.users %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back usersbest, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @usersbest.users %>
          <%= link_to edit_usersbest_url(usersbest), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @usersbest.users %>
          <%= link_to usersbest, method: :delete, data: { confirm: "Do you really want to delete this usersbest?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(usersbest.updated_at) %> ago
  </div>
</div>
