<%= form_with(model: @usersbest, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :dishes_id %>

    <%= f.collection_select :dishes_id, Dish.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :venue_id, value: @venue.id %>

  <%= f.hidden_field :users_id, value: current_user.id %>

  <%= f.submit "Create usersbest", class: "btn btn-block btn-outline-secondary" %>
<% end %>
