<!-- Form usersbest start -->
<%= form_with(model: @usersbest, local: true) do |f| %>
<!-- Form usersbest end -->

  <!-- Label and input for dishes_id start -->
  <!-- Input for dishes_id start -->
  <%= f.hidden_field :dishes_id, value: @dish.id %>
  <!-- Input for dishes_id end -->
  <!-- Label and input for dishes_id end -->

  <!-- Label and input for venue_id start -->
  <div class="form-group">
    <%= f.label :venue_id %>

    <!-- Input for venue_id start -->
    <%= f.collection_select :venue_id, Venue.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for venue_id end -->
  </div>
  <!-- Label and input for venue_id end -->

  <!-- Label and input for users_id start -->
  <div class="form-group">
    <%= f.label :users_id %>

    <!-- Input for users_id start -->
    <%= f.text_field :users_id, class: "form-control" %>
    <!-- Input for users_id end -->
  </div>
  <!-- Label and input for users_id end -->

  <%= f.submit "Create usersbest", class: "btn btn-block btn-outline-secondary" %>
<% end %>
